[Unit]
Description=Parrot file/directory notification backup dbus service.
After=dbus.service

[Service]
Type=forking
ExecStart=/usr/bin/parrot

[Install]
WantedBy=default.target
