[Unit]
Description=Parrot file/directory notification backup dbus service.

[Service]
Type=forking
RuntimeDirectory=parrot
RuntimeDirectoryMode=0777
ExecStart=/usr/bin/parrot --pidfile=%t/parrot/parrot.pid
PIDFile=%t/parrot/parrot.pid

[Install]
WantedBy=default.target
